@media screen and (max-width:320px) {

  .memo-box-super {
    overflow: auto;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .memo-box {
    background: white;
    width: 35vh;
    height: 40vh;
    /* border-radius: 0px; */
    box-shadow: 3px 4px 10px hsla(0, 1%, 23%, 0.74);
  }

  /* 
  .memo-head,
  .memo-body,
  .memo-footer {
    width: 100%;
    height: 25vh;
  }

  .memo-head,
  .memo-footer {
    height: 20px;
  }

  .memo-head .lead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
  }
} */


  .cate-super-con {
    padding: 5px;
    /* background: var(--primary_gradient); */
  }

  .cate-con-intro {
    font-weight: bold;
    color: #4f2e8d;
  }

  .cate-con {
    background: transparent;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap: 3vh;
  }

  .cate-item-con {
    background: white;
    min-height: 60vh;
    cursor: pointer;
    position: relative;
    box-shadow: 3px 4px 10px hsla(0, 1%, 23%, 0.74);
  }

  .cate-items {
    width: 250px;
    height: auto;
    border-radius: 4px;
  }

  .cate-con-item-name-con {
    width: 100%;
    position: absolute;
    bottom: 1px;
    display: flex;
    border-top-right-radius: 0px;
    border-bottom-right-radius: inherit;
    border-top-left-radius: 0px;
    border-bottom-left-radius: inherit;
    justify-content: space-between;
    align-items: center;
  }

  .cate-con-item-name-con p {
    font-size: 13px;
  }

  .add-con .fa-plus-circle {
    font-size: 300%;
  }

}