@media screen and (max-width:320px) {
  .navbar-brand {
    font-size: 150%;
  }

  .list-limiter {
    background: transparent;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap: 3vh;
  }

  .cate-con {
    background: transparent;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap: 2vh;
  }

  .list {
    background: white !important;
    height: 75vh;
    min-width: 40vh;
    cursor: pointer;
    position: relative;
    box-shadow: 3px 5px 15px hsla(0, 1%, 23%, 0.74);
  }

  #empty_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #empty_list .fa {
    font-size: 200%;
  }

  .list-head {
    /* background: #17a0b3; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: inherit;
    border-bottom-right-radius: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: 0;
  }

  .del-edit-con {
    width: 25%;
  }


  .list-body {
    height: 89%;
    overflow-y: auto;
    padding-bottom: 20px !important;
  }

  .list-body .list-group .list-group-item {
    padding: 5px;
    border-radius: 0;
    border: 0;
    margin-bottom: 1px;
    border-bottom: 1px solid dimgray;
  }


  .list-foot {
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    display: flex;
    border-top-right-radius: 0px;
    border-bottom-right-radius: inherit;
    border-top-left-radius: 0px;
    border-bottom-left-radius: inherit;
    justify-content: space-between;
    align-items: center;
  }

  .list-foot p {
    font-size: 13px;
  }

  .list-foot .fa {
    font-size: 130%;
  }

  .list-head,
  .list-foot {
    height: 35px;
  }

  .bottom-nav .fa {
    font-size: 120%;
  }

  #newListModal .list-group-item {
    padding: 5px;
    border-radius: 0;
    border: 0;
    margin-bottom: 2px;
    border-bottom: 1px solid lightgray;
  }

  .item-input,
  .price-input,
  .qty-input {
    /* border: 1px solid red; */
    margin: 2px;
    width: 45%;
  }

  .price-input {
    width: 22%;
  }

  .qty-input {

    width: 20%;
  }
}